﻿@model IEnumerable<NET_Moodle.Models.AuthorViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @foreach (var item in Model)
    {
        <div class="row" style="margin-top:25px;">

            <div class="col-sm-5 col-lg-5 col-md-5">
                <img src="@Url.Content("~/Content/Images/"+ item.ImageUrl)" alt="@item.AltImage" class="img-circle default-image-size" />
            </div>
            <div class="col-sm-3 col-lg-5 col-md-5">
                <div class="row">
                    @Html.DisplayNameFor(model => model.Name) :  @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.Surname) :  @Html.DisplayFor(modelItem => item.Surname)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.EMail) :  @Html.DisplayFor(modelItem => item.EMail)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.Address) :  @Html.DisplayFor(modelItem => item.Address)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.Description) :  @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="row">
                    @{
                        var functions = item.Functions.Split(',');
                    }
                    <label>Rola w tworzeniu aplikacji:</label>
                    <ul>
                        @foreach (var function in functions)
                        {
                            <li>@function</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
                        }
</div>