﻿
body {
    padding-top: 0;
    padding-bottom: 0;
    background: white !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#top-link-block {
    .affix-top {
        position: absolute !important; /* allows it to "slide" up into view*/
        bottom: -82px !important;
        left: 10px !important;
    }

    .affix {
        position: fixed !important; /* keeps it on the bottom once in view */
        bottom: 18px !important;
        left: 10px !important;
    }
}

.row-auto-align-to-mid {
    vertical-align: middle;
    margin: auto;
    float: none;
    text-align: center;
}

.default-image-size {
    width: 200px;
    height: 200px;
}

.top-nav-collapse {
    background-color: #3F729B !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3F729B !important;
    }
}

@media only screen and (max-height: 400px) and (min-height: 200px) {
    .navbar-fixed-top {
        max-height: 60%;
    }
}

.padding-top {
    padding-top: 70px !important;
}

.margin-and-padding-0 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.default-color {
    color: white !important;
    background-color: #3f51b5 !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
}

.module {
    width: 250px;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.margin-top-0 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.h1-size {
    color: black !important;
    font-size: 2.5vw;
}

.resizing-link {
    color: black !important;
    font-size: 1.5vw;
}

.resizing-header {
    font-size: 8vw !important;
}



.twitter-tweet-rendered {

    div.twt-border {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

    iframe.twt-follow-button {
        display: none !important;
    }

    div.footer {
        ul.twt-actions {
            display: none !important;
        }

        a.view-details {
            display: block !important;
            width: 120px !important;
            margin: 5px 0 !important;
            padding: 7px 0 !important;
            background: #000 !important;
            color: #fff !important;
            text-decoration: none !important;
            border-radius: 13px !important;
            text-align: center !important;
            box-shadow: -1px -1px 2px #555 !important;

            span {
                font: 14px Georgia, serif !important;
                color: #fff !important;
            }
        }
    }
}

.resizing-header {
    font-size: 8vw !important;
}

.main-color {
    color: #3F729B !important;
}

.main-background-color {
    background-color: #3F729B !important;
}

.table-colors{
   background-color: #3F729B;
    color: white;
}
.text-lecturer {
    top: 25%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.text-company {
    top: 30%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.text-carousel {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 16px;
    margin-bottom: 0;
}

.arrow-style {
    font-size: 50px; 
    position: absolute; 
    top: 50%; 
    text-align:center;
}

.table-css-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
 .table-css {
        padding: 0 !important;
        vertical-align: middle !important;
    }
 .hover-icon {
        cursor: pointer !important;
    }
 .score:hover{
        color:blue !important;
        cursor: pointer !important;
    }
 
     a.link{
         color:white;
     }

.table-default-style {
    border-left: inset;
    border-right: inset; 
    border-color: lightblue; 
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: auto;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */


.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
  }


tr.align-mid-th{
    th{
        text-align:center;
        padding: 1%;
   }
}
tr.align-mid-td{
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        vertical-align: middle !important;
        padding: 1%;
   }
}

.table-align-mid{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: #3F729B;
    table-layout: fixed;
    width: 100%;
}
.tr-align-mid{
    background-color: #3F729B; 
    color: white;
    border-left: solid;
    border-right: solid; 
    border-color: #3F729B;
}
.highlight{
    background-color:cyan !important;
}
.hover-highlight{
    background-color: lightblue !important;
}