﻿@model NET_Moodle.Models.NewsViewModel

@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-horizonta well col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <div class="text-center">
            <h2>Dodaj wiadomość</h2>
        </div>
        @using (Html.BeginForm("CreateNews","News",FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description,  new { @class = "form-control" })
                        <span class="help-block"></span>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="file" class="col-md-2 control-label">Zdjęcie</label>
                    <div class="col-md-10">
                        <input type="file" accept="image/x-png, image/gif, image/jpeg" id="file" name="file">
                        <input type="text" readonly="" class="form-control" placeholder="Wybierz plik...">
                    </div>
                </div>

              
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Dodaj" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
