﻿@model IEnumerable<NET_Moodle.Models.NewsViewModel>

@{
    ViewBag.Title = "ManageNewsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-1 col-lg-1 col-xs-1"></div>
    <div class="col-md-10 col-lg-10 col-xs-10">
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-lg-1 col-xs-1"></div>
                <div class="col-md-10 col-lg-10 col-xs-10">
                    <div class="row">
                        <h2>Wiadomości</h2>
                        <p>
                            <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-xs main-background-color"><i class="material-icons">create</i> Dodaj</a>
                        </p>

                        <div class="input-group">
                            <input id="filter" type="text" class="form-control" placeholder="Type here...">
                        </div>
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr style="background-color: #3F729B; color: white; " class="table-default-style">
                                    <th>Tytuł</th>
                                    <th style="width:25%">Opis</th>
                                    <th>Data utworzenia</th>
                                    <th>Akcje</th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                @foreach (var item in Model)
                                {
                                    <tr class="table-default-style">
                                        <td class="table-css">@item.Title</td>
                                        <td class="table-css table-css-ellipsis">@item.Description</td>
                                        <td class="table-css">@item.CreationDate.ToShortDateString()</td>
                                       
                                        <td class="table-css">
                                            <span style="padding-right:0"><a class="material-icons main-color hover-icon">mode_edit</a><a class="material-icons main-color hover-icon">block</a><a class="material-icons main-color hover-icon" onclick="openModal(@item.NewsId)">delete_sweep</a>  </span>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DeletePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        @using (Html.BeginForm("DeleteNews", "News", FormMethod.Post))
        {
            <input type="hidden" id="element-to-delete" name="newsId"/>
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="3">&times;</button>
                    <h4 class="modal-title">Potwierdzenie akcji</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć ten kurs?</p>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <!-- to center or not to center? -->
                    <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="1">Nie</button>
                    <input type="submit" class="btn btn-default" value="Tak" />
                </div>
            </div>
        }
    </div>
</div>