﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="form-horizonta well col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <div class="text-center">
            <h2>Kontakt</h2>
        </div>
        <p></p>
        <form action="MAILTO:konrad.dysput@gmail.com" id="email-form" method="post" enctype="text/plain">
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="row form-group label-floating">
                    <label class="control-label" for="e-mail-name">Adres e-mail wysyłającego</label>
                    <input class="form-control" id="e-mail-name" type="text" name="name">
                    <p class="help-block">Podaj adres e-mail, na który możesz oczekiwać na odpowiedź</p>
                </div>
                <div class="row form-group label-floating">
                    <label class="control-label" for="subject">Temat wiadomości</label>
                    <input class="form-control" id="subject" type="text" name="subject">
                </div>


                <div class="form-group">
                    <label for="content" class="control-label">Treść wiadomości</label>
                    <textarea class="form-control" rows="3" id="content"></textarea>
                    <span class="help-block"></span>
                </div>

                <div class="row form-group">
                    <input type="submit" class="btn btn-info btn-raised default-color" value="Wyślij" />
                    <input type="reset" class="btn btn-info btn-raised default-color" value="Wyczyść" />
                </div>
            </div>
        </form>
    </div>
</div>