﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="padding-top">
    <br />
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-1 col-lg-8 col-md-8 col-xs-10">
            <div class="well" style="border-radius:10px;">
                <div class="row row-auto-align-to-mid">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-4">
                                <span id="number404" class="right resizing-header row-auto-align-to-mid">500:</span>
                            </div>
                            <div class="col-lg-8 col-md-8 col-xs-8">
                                <div class="row left text-left pull-left">
                                    <h1 class="text-left h1-size">Otrzymano nieobsługiwany błąd</h1>
                                </div>
                                <div class="row left text-left pull-left">
                                    <span style="font-size: 2vw; text-align:left !important; color:black !important;" class="left">Spróbuj ponownie wczytać stronę</span>
                                </div>
                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-md-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-xs-4 margin-top-0">
                    <br />
                    <a class="btn resizing-link margin-top-0 " href='@Url.Action("Index", "Home")'>Strona główna</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>





