﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="padding-top">
    <br />
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-1"></div>
        <div class="col-lg-8 col-md-8 col-xs-10">
            <div class="well" style="border-radius:10px">
                <div class="row row-auto-align-to-mid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-4">
                            <span id="number404" class="right resizing-header">404:</span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-8">
                            <h1 class="text-left h1-size">Chyba zabłądziłeś</h1>
                            <h4 class="text-left" style="font-size: 2vw;">Sprawdź czy wpisałeś poprawny url</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-4 margin-top-0"></div>
                    <div class="col-lg-4 col-md-4 col-xs-4 margin-top-0">
                        <br />
                        
                        <a class="btn resizing-link margin-top-0"style="color:blue" href='@Url.Action("Index", "Home")'>Strona główna</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 margin-top-0"></div>
                    </div>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-1"></div>
    </div>
</body>
