﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.NET Moodle</title>
    @*<link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")"/>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    @RenderSection("scripts", required: false)
</head>
<body class="padding-top">
            @Html.Partial("LoggeduserPartial")

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-offset-1 col-sm-3 col-lg-1">
                    @Html.ActionLink("Twórcy aplikacji", "Index", "Author")
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - .NET Moodle PUT Poznań </p>
        </footer>
    </div>

    
</body>
</html>
