﻿@model NET_Moodle.Models.CourseViewModel

@{
    var courses = ViewBag.courses;
}

@if (courses.Count == 0)
{
    <li>
        <a class="dropdown-item">Brak</a>
    </li>
}
else
{
    foreach (var item in courses)
    {
        <li>
            <a class="dropdown-item" href="@Url.Action("CourseDetail","Course",new { id = item.CourseId })" alt="@item.CourseId)">@item.ShortCut</a>
        </li>
    }

}



