﻿@using Microsoft.AspNet.Identity

<nav class="navbar navbar-fixed-top z-depth-1 top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("NET Moodle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="nav1" class="nav navbar-nav waves-effect">
                <li>@Html.ActionLink("Partnerzy", "Index", "Company")</li>
                <li>@Html.ActionLink("O nas", "Index", "Lecturer")</li>
                <li>@Html.ActionLink("Kontakt", "Index", "Contact")</li>
            </ul>

            @if (Request.IsAuthenticated)
            {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="hover-icon" id="dropdownMenu1" onclick="getUserCourses('@Url.Action("GetUserCourses","Course",new { id = User.Identity.GetUserId() })')" alt="@User.Identity.GetUserId()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Moje kursy
                        <span class="caret"></span>
                    </a>
                    <!--MISSING CONTENT HERE-->
                    <ul class="dropdown-menu dropdown-menu-left" id="courses-content"></ul>
                </li>

                    <li>@Html.ActionLink("Użytkownicy", "GetUsers", "UserPanel")</li>

                    <li class="dropdown">
                        <a class="material-icons hover-icon" style="font-size: 30px !important" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">account_circle</a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">
                                Zalogowany jako @User.Identity.GetUserName()
                            </li>
                            <li>
                                @Html.ActionLink("Ustawienia konta", "Index", "Manage")
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                        </ul>
                    </li>

</ul>
            }
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Rejestracja", "Register", "Account")
                </li>
                <li>@Html.ActionLink("Logowanie", "Index", "UserPanel")</li>
            </ul>
            }


        </div>
    </div>
</nav>