﻿@model IEnumerable<NET_Moodle.Models.LecturerViewModel>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="row">
        <h4 class="text-center">Grupa.NET Politechnika Poznańska</h4>
        <div class="row">
            <p class="text-center">Treść dotycząca koła naukowego oraz jego promocji jak i osiągnięć</p>
        </div>
        <div class="row">
            <img style="margin:0 auto; display:block" class="img-responsive img-rounded" src="@Url.Content("~/Content/Images/time-schedule.jpg")" alt="Godziny zajęć" />
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="row">
            <h4 class="text-center">Prowadzący</h4>
        </div>
        <div class="form-horizonta well col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4">

            @foreach (var item in Model)
            {
            <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 ">
                    <div class="row">
                        <img src="@Url.Content("~/Content/Images/"+ item.ImageAddress)" alt="@item.AlternativeLink" class="img-circle default-image-size" />
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-3 text-lecturer">
                    <div class="row">
                        @Html.DisplayNameFor(model => model.Name) :  @Html.DisplayFor(modelItem => item.Name)
                        <br />
                        @Html.DisplayNameFor(model => model.Surname) :  @Html.DisplayFor(modelItem => item.Surname)
                        <br />
                        @Html.DisplayNameFor(model => model.EMail) :  @Html.DisplayFor(modelItem => item.EMail)
                        <br />
                        @Html.DisplayNameFor(model => model.HomePageUrl) :  @Html.DisplayFor(modelItem => item.HomePageUrl)
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
