﻿


@model IEnumerable<NET_Moodle.Models.LecturerViewModel>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-1 col-lg-1 col-xs-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10">
        <div class="well">
            <div class="row">
                <div class="col-md-1 col-lg-1 col-xs-1"></div>
                <div class="col-md-10 col-lg-10 col-xs-10">
                    
            <div class="row">
                <h2>Prelegenci</h2>
                <p>
                    <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-xs main-background-color"><i class="material-icons">create</i> Dodaj</a>
                </p>
                <div class="input-group">
                    <input id="filter" type="text" class="form-control" placeholder="Type here...">
                </div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr style="background-color: #3F729B; color: white; " class="table-default-style">
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Email</th>
                            <th>Strona</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody class="searchable">
                        @{
                            foreach (var item in Model)
                            {
                                <tr class="table-default-style>
                                    <td class="table-css">@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td class="table-css">
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>

                                    <td class="table-css">
                                        <div class="dropdown">
                                            <i class="material-icons score dropdown-toggle main-color" data-toggle="dropdown">mail_outline <span class="caret display-block"></span> </i>
                                            <ul class="dropdown-menu">
                                                <li><a><a href="">@Html.DisplayFor(modelItem => item.EMail)</a></a> </li>
                                            </ul>
                                        </div>                                             
                                    </td>
                                    
                                    <td class="table-css">
                                        <div class="dropdown">
                                            <a class="material-icons score dropdown-toggle main-color" data-toggle="dropdown" >store <span class="caret display-block"></span> </a>
                                            <ul class="dropdown-menu">
                                                <li><a href=@item.HomePageUrl>@item.HomePageUrl</a> </li>
                                            </ul>
                                        </div>  
                                    </td>
                                    <td class="table-css">
                                        <span style="padding-right:0"><a class="material-icons main-color score">mode_edit</a><a class="material-icons main-color score">block</a><a class="material-icons main-color score">delete_sweep</a>  </span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-2"></div>
</div>
</div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slid.bs.carousel', function () {
            //alert("slid");
        });
    });
</script>

