﻿@model NET_Moodle.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="form-horizonta well col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <div class="text-center">
            <h2>Rejestracja</h2>
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 ">
                        <div class="row form-group label-floating">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="row form-group label-floating">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label", @for = "Password" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="row form-group label-floating">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @for = "ConfirmPassword" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                            <div class="row form-group col-md-4 col-md-offset-4">
                                <input type="submit" class="btn btn-info btn-raised default-color" value="Zarejestruj" />
                            </div>
                    </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
