@using TweetSharp;
@using NET_Moodle.Models;
@model IEnumerable<NET_Moodle.Models.NewsViewModel>

@{
Layout = "~/Views/Shared/_Layout.cshtml";
int index = 0;
int MaxCarouselValue = 3;
}
<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (var item in Model.Take(MaxCarouselValue))
            {
            <div class="item @if (index == 0)
                    {
                    index++;
                    <text>active</text>} ">
                <img src=@Url.Content("~/Content/Images/" + item.ImagePath) alt="@item.Title">
                <div class="carousel-caption hidden-xs">
                    <div class="animated fadeInDown">
                        <div class="row text-carousel">
                            <p style="margin-bottom: 0;">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption">
                    <h4>@item.Title</h4>
                </div>
            </div>
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
            <i class="material-icons carousel-arrow" style="left:50%">keyboard_arrow_left</i>
            <i class="sr-only">Previous</i>
        </a>
        <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
            <i class="material-icons carousel-arrow" style="right:50%">keyboard_arrow_right</i>
            <i class="sr-only">Previous</i>
        </a>
    </div>
</div>




<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1013790672019700";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="row" style="margin-top:20px">
    <div class="col-md-5 col-md-offset-1">
        <div class="well">
            <h2>Facebook</h2>
            <br />
            @if(ViewBag.FacebookPosts != null)
            {
                foreach (var facebookPost in ((FBPostsModel)ViewBag.FacebookPosts).data)
                {
                    if (facebookPost.message != null)
                    {
                        <p>
                            <div class="fb-post"
                                    data-href="@facebookPost.permalink_url.Replace(" put.net", "272658349435534" )"
                                    data-width="500"></div>
                        </p>
                    }
                }
            }
            else{
            <a href="https://facebook.com/">
                <img src="~/Content/Images/facebook-logo.png" alt="Twitter logo" />
            </a>
            }
        </div>
    </div>

    <div class="col-md-5">
        <div class="well">
            <h2>Twitter</h2>
            <br />

            @if (ViewBag.TwitterPosts != null)
            {
                var tweets = ViewBag.TwitterPosts as IEnumerable<TwitterStatus>;
                foreach (var tweet in tweets)
                {
                    if (!string.IsNullOrEmpty(tweet.Text))
                    {
                        <blockquote class="twitter-tweet"><p>@tweet.Text</p>@tweet.User.Name <a href="https://twitter.com/@tweet.User.ScreenName/status/@tweet.Id" data-datetime="@tweet.CreatedDate.AddHours(-7).ToString(" d/M/yyyy HH:mm:ss")">@tweet.CreatedDate.AddHours(-7).ToString("d/M/yyyy HH:mm:ss")</a></blockquote>
                    }
                }
            }
            else{
            <a href="https://twitter.com/">
                <img src="~/Content/Images/twitter-logo.jpg" alt="Twitter logo" style="width:auto; height:83px" />
            </a>
            }
        </div>
    </div>

</div>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>