﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container-fluid margin-and-padding-0">
        <div class="col-md-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class="container margin-and-padding-0">
                    <div class="col-md-9 col-lg-9 col-xs-9">
                        @{/*<ul class="breadcrumb">                          
                                <li><a href="#">Wydarzenia</a></li>
                                <li class="active">Kursy</li>
                                <li><a href="#">Koła</a></li>
                            </ul>
                            */
                        }
                        </div>

                        @{for (int i = 0; i < 10; i++)
                        {
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color:#3F729B; color:white
                        ">
                                    <h3 class="panel-title">Nazwa kursu</h3>
                                </div>
                                <div class="panel-body">
                                    Jakiś opis
                                </div>
                            </div>
                        </div>
                        }
                        }
                    </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 margin-and-padding-0">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading"style="background-color:#3F729B; color: white" >
                                    <h4 class="panel-title">
                                        Panel Użytkownika
                                    </h4>                                    
                                 </div>

                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse1">Moje koła</a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body">Koło naukowe .NET</div>
                                            <div class="panel-body">Koło naukowe Atena</div>
                                            <div class="panel-body">Koło numer 3</div>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse2">Moje kursy</a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">Kurs 1</div>
                                            <div class="panel-body">Kurs 2</div>
                                            <div class="panel-body">Kurs 3</div>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse3">Moje wydarzenia</a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">Wydarzenie 1</div>
                                            <div class="panel-body">Wydarzenie 2</div>
                                            <div class="panel-body">Wydarzenie 3</div>
                                        </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
