﻿@model NET_Moodle.Models.CourseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-horizonta well col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

        @using (Html.BeginForm("AddCourse", "Course", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Dodawanie kursu</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsPasswordEnable, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="checkbox col-md-10 bootstrap-switch-square">
                        <label style="margin-right:15px">
                            <input type="checkbox" data-toggle="switch" value="true" id="IsPasswordEnableCheckbox" name="IsPasswordEnable">
                        </label>
                    </div>
                </div>

                <div id="passwordForm" class="form-group" style="display:none">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="checkbox col-md-10 bootstrap-switch-square">
                        <label style="margin-right:15px">
                            <input type="checkbox" data-toggle="switch" value="true" id="IsVisibleCheckbox" name="IsVisible">
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ShortCut, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShortCut, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShortCut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="file" class="col-md-2 control-label">Zdjęcie</label>
                    <div class="col-md-10">
                        <input type="file" accept="image/x-png, image/gif, image/jpeg" id="file" name="file">
                        <input type="text" readonly="" class="form-control" placeholder="Wybierz plik...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-info btn-raised default-color" value="Dodaj" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render(){
<script>
    $('#IsPasswordEnableCheckbox').click(function () {
        if (this.checked) {
            $('#passwordForm').show("fast");
        } else {
            $('#passwordForm').hide("fast");
        }
    });
</script>
}