﻿@model NET_Moodle.Models.CourseViewModel
@using NET_Moodle.Domain
@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var topics = ViewBag.topics as IEnumerable<NET_Moodle.Domain.Model.Topic>;
    var enumerator = topics.GetEnumerator();
    int currentItem = 1;
}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <img src=@Url.Content("~/Content/Images/"+ @Model.Image.ImagePath) class="img-responsive" alt="@Model.Image.AlternateString">
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Kalendarz</h3>
            </div>
            <div class="panel-body">
                <p id="DATE"></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel administracyjny</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("EditDetails", "Course", FormMethod.Post, new { id = "desc-edit" }))
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Parametr</th>
                                <th>Wartość</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Typ kursu</td>
                            <td class="table-css">
                                <div class="read-only">@Html.DisplayFor(model => model.Type)</div>
                                <div class="edit" hidden>
                                    <select name="Type" class="edit-password form-control" style="padding-bottom:0;margin:0">
                                        <option value="@NET_Moodle.Domain.Model.CourseTypeEnum.Private" @if (Model.Type == NET_Moodle.Domain.Model.CourseTypeEnum.Private) { <text> selected="selected" </text>    }>Prywatny</option>
                                        <option value="@NET_Moodle.Domain.Model.CourseTypeEnum.Public" @if (Model.Type == NET_Moodle.Domain.Model.CourseTypeEnum.Public) { <text> selected="selected" </text>    }>Publiczny</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Wymagane hasło?</td>
                            <td class="table-css">
                                <div class="read-only" id="latest-password">
                                    @if (Model.IsPasswordEnable == false)
                                    {<text> No </text>}
                                    else
                                    {<text> Yes </text>}
                                </div>
                                <div class="edit" hidden>
                                    <select name="IsPasswordEnable" class="edit-password form-control" onchange="addPass()" style="padding-bottom:0;margin:0">
                                        <option value="true" @if (Model.IsPasswordEnable) { <text> selected="selected" </text>   }>Tak</option>
                                        <option value="false" @if (!Model.IsPasswordEnable) { <text> selected="selected" </text>   }>Nie</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr id="password-requirement">
                            <td>Hasło</td>
                            <td class="table-css">
                                <div class="edit" hidden>
                                    <div class="form-group label-floating">
                                        <label class="control-label" for="focuspass">Hasło</label>
                                        <input name="Password" required class="form-control" valid="focuspass" type="password">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Data startu</td>
                            <td class="table-css">@Html.DisplayFor(model => model.StartDate)</td>
                        </tr>
                        <tr>
                            <td>Widoczny?</td>
                            <td class="table-css">
                                <div class="read-only">
                                    @if (Model.IsVisible == false)
                                    {<text> <i class="material-icons">do_not_disturb</i> </text>}
                                    else
                                    {<text> <i class="material-icons">done</i> </text>}
                                </div>
                                <div class="edit" hidden>
                                    <select name="IsVisible" class="edit-password form-control" style="padding-bottom:0;margin:0">
                                        <option  value="true"@if (Model.IsVisible) { <text> selected="selected" </text>    }>Tak</option>
                                        <option value="false" @if (!Model.IsVisible) { <text> selected="selected" </text>    }>Nie</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Skrót</td>
                            <td class="table-css">
                                <div class="read-only">
                                    @Html.DisplayFor(model => model.ShortCut)
                                </div>
                                <div class="edit" hidden>
                                    <div class="form-group label-floating">
                                        <label class="control-label" for="focusedInput1">Wpisz nowy skrót</label>
                                        <input name="ShortCut" class="form-control" value="@Model.ShortCut" valid="focusedInput1" type="text">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <button type="button" onclick="enableCourseEdit()" id="edit-btn" style="margin-right:15px" class="pull-right btn btn-raised btn-primary">Edytuj</button>
                        <button type="submit" id="save-btn" style="margin-right:15px;display:none" class="pull-right btn btn-raised btn-primary">Zapisz</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Tematy</h3>
            </div>
            <div class="panel-body">
                <a href='@Url.Action("AddTopic", "Topic",new { id=Model.Id })' class="btn btn-raised btn-primary btn-xs main-background-color"> <i class="material-icons">add_circle</i>Dodaj temat</a>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Data rozpoczęcia</th>
                        </tr>
                    </thead>
                    @foreach (var topic in topics)
            {
                        <tbody>
                            <tr>
                                <td>@currentItem</td>
                                <td>@topic.Name</td>
                                <td>@topic.Description</td>
                                <td>@topic.StartDate</td>
                            </tr>
                        </tbody>
                        currentItem++;
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:white">
                            Uczestnicy kursu
                        </a>                       
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="list-group">
                        <a class="btn btn-raised btn-primary btn-xs main-background-color" style="margin-bottom: 0;"> <i class="material-icons">add_circle</i>Dodaj</a>
                        @foreach (var user in ViewBag.Users)
                        {
                            <h5>
                                @user.Name
                            </h5>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        addPass();
    })
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var today = dd + '/' + mm + '/' + yyyy;
    document.getElementById("DATE").innerHTML = today;


    $('.collapse').collapse()
</script>