﻿@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity;
@model PagedList<NET_Moodle.Models.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="row">
    <div class="col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-xs-10">
        <div class="well">
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-xs-10">
                    <div class="row">
                        <h2>Kursy</h2>
                        @using (Html.BeginForm())
                        {
                            <input id="SearchString" name="SearchString" type="text" class="form-control" placeholder="Przeszukaj kursy..." style="float:left; padding-top: 15px">
                            <div style="overflow: hidden; padding-left: .5em;">
                                <input type="submit" class="btn btn-raised btn-primary btn-xs main-background-color" value="Szukaj" style="font-size: 13px;" />
                            </div>
                        }
                        <table class="table-align-mid table-striped table-hover">
                            <thead>
                                <tr class="tr-align-mid align-mid-th">
                                    <th style="width:12%">@Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "link" })</th>
                                    <th style="width:50%; text-align:left">Opis</th>
                                    <th style="width:10%">@Html.ActionLink("Data utworzenia", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = "link" })</th>
                                    <th style="width:11%">@Html.ActionLink("Data rozpoczęcia", "Index", new { sortOrder = ViewBag.StartDateSortParm }, new { @class = "link" })</th>
                                    <th>Typ</th>
                                    <th>Skrót</th>
                                    <th>Opcje</th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                
                                @foreach (var item in Model)
                                {
                                    var owned = false;
                                    foreach (var participant in item.participants)
                                    {
                                        if (participant.Id == User.Identity.GetUserId())
                                        {
                                            owned = true;
                                            break;
                                        }
                                    }
                                    if (owned == true)
                                    {
                                        <tr class="align-mid-td highlight">
                                        <td><a href='@Url.Action("CourseDetail", "Course", new { id = item.Id })'>@item.Name</td>
                                        <td style="text-align:left">@item.Description</td>
                                        <td>@item.CreationDate.ToLongDateString()</td>
                                        <td>@item.StartDate.ToString("HH:mm dd/MM/yy")</td>
                                        <td>
                                            @if (item.IsPasswordEnable)
                                            {<text><i class="material-icons" title="Ten kurs jest prywatny">vpn_key</i></text>}
                                        </td>
                                        <td>@item.ShortCut</td>
                                        <td onclick="joinCourse('@item.Id','@Url.Action("AcceptCourse", "Course")')"><i class="material-icons" style="cursor:pointer">touch_app</i></td>
                                    </tr>

                                    }
                                    else {
                                        <tr class="align-mid-td">                                  
                                        <td><a href='@Url.Action("CourseDetail", "Course", new { id = item.Id })'>@item.Name</td>
                                        <td style="text-align:left">@item.Description</td>
                                        <td>@item.CreationDate.ToLongDateString()</td>
                                        <td>@item.StartDate.ToString("HH:mm dd/MM/yy")</td>
                                        <td>
                                            @if (item.IsPasswordEnable)
                                            {<text><i class="material-icons" title="Ten kurs jest prywatny">vpn_key</i></text>}
                                        </td>
                                        <td>@item.ShortCut</td>
                                        <td onclick="joinCourse('@item.Id','@Url.Action("AcceptCourse", "Course")')"><i class="material-icons" style="cursor:pointer">touch_app</i></td>
                                    </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="center">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
                                Pokazuje @Model.FirstItemOnPage do @Model.LastItemOnPage z @Model.TotalItemCount Kursów
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="postive-result" class="snackbar toast">
    <span class="snackbar-content">Pomyślnie dodano użytkownika do kursu</span>
</div>

<div id="negative-result" class="snackbar toast">
    <span class="snackbar-content">Podano niepoprawne hasło</span>
</div>

<div id="join-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        @using (Html.BeginForm("AcceptPassword", "Course", FormMethod.Post))
        {
            <input type="hidden" id="courseId" name="courseId" />
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="3">&times;</button>
                    <h4 class="modal-title">Potwierdzenie akcji</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group label-floating">
                        <label class="control-label" for="password">Podaj hasło kursu</label>
                        <input class="form-control" id="password" name="password" type="text">
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <!-- to center or not to center? -->
                    <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="1">Anuluj</button>
                    <input type="submit" class="btn btn-default" value="Ok" />
                </div>
            </div>
        }
    </div>
</div>


<script>
    $(".highlight").hover(function () { $(this).addClass("hover-highlight") }, function () { $(this).removeClass("hover-highlight") });

    $(function () {
        if ('@ViewBag.couseAssigned' == 'True') {
            $("#postive-result").snackbar("show");
        }

        else if ('@ViewBag.couseAssigned' == 'False') {
            $("#negative-result").snackbar("show");
        }
    });

</script>