﻿@using PagedList.Mvc
@using PagedList
@model PagedList<NET_Moodle.Models.CourseViewModel>

@{
    ViewBag.Title = "ManageCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-xs-10">
        <div class="well">
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-xs-10">
                    <div class="row">

                        <h2>Kursy</h2>
                        <p>
                            <a href="@Url.Action("AddCourse", "Course")" class="btn btn-raised btn-primary btn-xs main-background-color"> <i class="material-icons">create</i>Dodaj</a>
                        </p>
                        @using (Html.BeginForm())
                        {
                            <p>
                                <input id="SearchString" name="SearchString" type="text" class="form-control" placeholder="Type here...">
                                <input type="submit" class="btn btn-raised btn-primary btn-xs main-background-color" value="Search" />
                            </p>
                        }

                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr  class="table-colors table-default-style">
                                    <th>@Html.ActionLink("Nazwa", "ManageCourse", new { sortOrder = ViewBag.NameSortParm }, new { @class = "link" })</th>
                                    <th style="width:25%">Opis</th>
                                    <th>Wymagane hasło?</th>
                                    <th>Hasło</th>
                                    <th>@Html.ActionLink("Data utworzenia", "ManageCourse", new { sortOrder = ViewBag.DateSortParm }, new { @class = "link" })</th>
                                    <th>@Html.ActionLink("Data rozpoczęcia", "ManageCourse", new { sortOrder = ViewBag.StartDateSortParm }, new { @class = "link" })</th>
                                    <th>Widoczne?</th>
                                    <th>Skrót</th>
                                    <th>Akcje</th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                @foreach (var item in Model)
                                {
                                    <tr class="table-default-style">
                                        <td class="table-css"><a class="course-name" href='@Url.Action("CourseDetail", "Course",new {id= item.Id})'>@item.Name</a></td>
                                        <td class="table-css table-css-ellipsis"><span class="course-description">@item.Description</span></td>
                                        <td class="table-css">@item.IsPasswordEnable</td>
                                        <td class="table-css">@item.Password</td>
                                        <td class="table-css">@item.CreationDate.ToShortDateString()</td>
                                        <td class="table-css">@item.StartDate.ToShortDateString()</td>
                                        <td class="table-css">@item.IsVisible</td>
                                        <td class="table-css"><span class="course-shortcut">@item.ShortCut</span></td>
                                        <td class="table-css">
                                            <span style="padding-right:0"><a onclick="editCourseDetails($(this),@item.Id)" class="material-icons main-color hover-icon">mode_edit</a><a class="material-icons main-color hover-icon" data-toggle="modal" onclick="openModal(@item.Id)" data-backdrop="true">delete_sweep</a>  </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="center">
                                @Html.PagedListPager(Model, page => Url.Action("ManageCourse", new { page, pageSize = Model.PageSize }))
                                Pokazuje @Model.FirstItemOnPage do @Model.LastItemOnPage z @Model.TotalItemCount Kursów
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="DeletePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        @using (Html.BeginForm("DeleteCourse", "Course", FormMethod.Post))
        {
            <input type="hidden" id="element-to-delete" name="courseId" value="0" />
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="3">&times;</button>
                    <h4 class="modal-title">Potwierdzenie akcji</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć ten kurs?</p>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <!-- to center or not to center? -->
                    <input type="button" class="btn btn-default" value="Nie" data-dismiss="modal" tabindex="1"/>
                    <input type="submit" class="btn btn-default" value="Tak" />
                </div>
            </div>
        }
    </div>
</div>

<style>
    .hover-icon {
        cursor: pointer !important;
    }

    .table-css {
        padding: 0 !important;
        vertical-align: middle !important;
    }
</style>

<div id="change-description-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        @using (Html.BeginForm("ChangeCourseDescription", "Course", FormMethod.Post))
        {
            <input type="hidden" id="courseId" name="courseId" />
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="3">&times;</button>
                    <h4 class="modal-title">Zmień dane kursu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group label-floating">
                        <label class="control-label" for="course-name-edit">Podaj nową nazwę</label>
                        <input class="form-control" id="course-name-edit" name="courseNameEdit" type="text">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="short-cut-edit">Podaj nowy skrót</label>
                        <input class="form-control" id="short-cut-edit" name="shortCutEdit" type="text">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="description-edit">Podaj nowy opis</label>
                        <textarea class="form-control" rows="3" id="description-edit" name="courseDescriptionEdit"></textarea>
                        <span class="help-block"></span>
                    </div>
                   
                </div>
                <div class="modal-footer" style="text-align:center">
                    <!-- to center or not to center? -->
                    <input type="button" class="btn btn-default"  data-dismiss="modal" tabindex="1" value="Anuluj" />
                    <input type="submit" class="btn btn-default" value="Ok" />
                </div>
            </div>
        }
    </div>

</div>