﻿@model IEnumerable<NET_Moodle.Models.UserViewModel>
@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-xs-10  col-md-offset-1 col-lg-offset-1 col-xs-offset-1">
                    <div class="row well">
                        <h2>Użytkownicy</h2>
                       
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr style="background-color: #3F729B; color: white; border-left: inset; border-right: inset; border-color: lightblue;">
                                   
                                    <th>E-mail</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Opcje</th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                @foreach (var item in Model)
                                {
                                    <tr style="border-left: inset; border-right: inset; border-color: lightblue; ">
                                        <td class="table-css">@item.Email</td>
                                        <td class="table-css">@item.Name</td>
                                        <td class="table-css">@item.Surname</td>
                                        <td class="table-css">
                                            <span style="padding-right:0"><a class="material-icons main-color hover-icon">mode_edit</a><a class="material-icons main-color hover-icon">delete_sweep</a>  </span>
                                        </td>                                            
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
</div>
