﻿@model NET_Moodle.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="form-horizonta well col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <div class="text-center">
            <h2>Logowanie</h2>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 ">
                <div class="row form-group label-floating">
                    @Html.LabelFor(m => m.LoginName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                </div>
                <div class="row form-group label-floating">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label", @for = "Password" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">                    
                    <div class="checkbox">                        
                        <label style="margin-right:15px">
                            <input type="checkbox" id="rememberCheckbox" name="rememberCheckbox">
                        </label>
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
                    </div>
                   
                </div>
                <div class="row form-group col-md-4 col-md-offset-4">
                    <input type="submit" class="btn btn-info btn-raised default-color" value="Zaloguj" />
                </div>
            </div>
        }
    </div>
</div>