﻿@model IEnumerable<NET_Moodle.Models.CompanyViewModel>
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="row" style="margin-top:20px">
        <div class="form-horizontal well col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-4">
            @foreach (var item in Model)
            {
            <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 ">
                    <div class="row">
                        <img src="@Url.Content("~/Content/Images/"+ item.ImageUrl)" alt="@item.AltImage" class="img-circle default-image-size" />
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-3 text-company">
                    <div class="row">
                        @Html.DisplayNameFor(model => model.Name) :  @Html.DisplayFor(modelItem => item.Name)
                        <br />
                        @Html.DisplayNameFor(model => model.Description) :  @Html.DisplayFor(modelItem => item.Description)
                        <br />
                        @Html.DisplayNameFor(model => model.EMail) :  @Html.DisplayFor(modelItem => item.EMail)
                        <br />
                        @Html.DisplayNameFor(model => model.Address) :  @Html.DisplayFor(modelItem => item.Address)
                        <br />
                        @Html.DisplayNameFor(model => model.Telephone) :  @Html.DisplayFor(modelItem => item.Telephone)
                    </div>
                </div>
            </div>
            }
        </div>
    </div>






